@model DepartmentEditViewModel
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<h1>Create Department</h1>

<div class="container mt-5">

    <partial name="Partials/CreateEditDepartmentInputsPartial" />

</div>


@section ValidationScripts {

    <partial name="_ValidationScriptsPartial" />
}
