@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure to Delete this Department</h1>

<partial name="Partials/DetailsDeleteDepartmentPartial" />

<!-- Action Buttons -->
<form asp-action="Delete" method="post" asp-route-id="@Model.Id" class="mt-4">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
