@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<partial name="Partials/DetailsDeleteDepartmentPartial" />


<!-- Action Buttons -->
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>