@model DepartmentEditViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}



<div class="container mt-5">
    <h1>Edit Department</h1>

    <partial name="Partials/CreateEditDepartmentInputsPartial" />
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}